@page
@model SacramentMeeting.Pages.Songs.EditModel

@{
    ViewData["Title"] = "Edit Hymn";
}

<h2>Edit Hymn</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Song.SongID" />
            <div class="form-group">
                <label asp-for="Song.Title" class="control-label"></label>
                <input asp-for="Song.Title" class="form-control" />
                <span asp-validation-for="Song.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Song.SongID" class="control-label"></label>
                <input asp-for="Song.SongID" class="form-control" />
                <span asp-validation-for="Song.SongID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
