@page
@model SacramentMeeting.Pages.Current.EditModel

@{
    ViewData["Title"] = "Edit Calling";
}

<h2>Edit Calling</h2>


<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.Message != null)
            {<p class="text-danger">@Model.Message</p>}
            <input type="hidden" asp-for="CurrentCalling.CurrentCallingID" />
            <div class="form-group">
                <label asp-for="CurrentCalling.CallingID" class="control-label"></label>
                <select asp-for="CurrentCalling.CallingID" class="form-control" asp-items="ViewBag.CallingID"></select>
                <span asp-validation-for="CurrentCalling.CallingID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentCalling.MemberID" class="control-label"></label>
                <select asp-for="CurrentCalling.MemberID" class="form-control" asp-items="ViewBag.MemberID"></select>
                <span asp-validation-for="CurrentCalling.MemberID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentCalling.DateCalled" class="control-label"></label>
                <input asp-for="CurrentCalling.DateCalled" class="form-control" />
                <span asp-validation-for="CurrentCalling.DateCalled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
